html {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
}

/* CAN BE DELETED */
.fa-gamepad {
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
